<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/zepto.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/javascripts/default.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Alien Message</h2>
    <p id="message"></p>
    <h2>Fortune</h2>
    <p id="fortune"></p>
  </body>
</html>